body{
    background-image: url(pattern1.png);
    
}
.form-login{
    text-align: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 11%;
}
.outter-form-login {
    padding: 50px;
    background: #EEEEEE;
    position: relative;
    border-radius: 20px;
    
}





.inner-login .form-control {
    background: #D3D3D3;
    


}
h3.title-login {
    font-size: 20px;
    margin-bottom: 20px;
}

.forget {
    margin-top: 20px;
    color: #ADADAD;
}
.btn-custom-green {
    background: #21A957;
    color: #fff;
}

.info {
 font-size: 17px;
 background-color: #6c41b7;
 color: #ffffff;
 border-radius: 7px;
 border:none;
 margin-top: 10px;
}

.info active{
    box-shadow: 0px 3px 0px transparent;

}