body{
	background-image: url(pattern1.png);
	margin:0;
	padding:0;
}
*{
	box-sizing: border-box;
	font-family: sans-serif;
}

h1{
	text-align: center;
	color: #ffffff;
	margin:30px 0px -15px;
}

.quiz_wrapper{
	height: 330px;
	width: 650px;
	background-color: white;
	margin:50px auto;
	border-radius: 8px;
	padding: 30px;
}

.animasi{
	float: right;
}
.tombol-aktif{
	padding: 10px 50px;
	color:white;
	background-color: #f8e113;
	border-radius: 8px;
	font-size: 16px;
	text-decoration: none;
	border:none;
	margin-top: -46px;

}



.quiz_wrapper .question{
	padding: 15px;
	background-color:#e91e63;
	border-radius: 8px;
	color:#ffffff;
	font-size:20px;
	float: left;
	width: 100%;

}
.quiz_wrapper .options{
	float: left;
	width: 100%;
}

.quiz_wrapper .options ul{
	list-style: none;
	padding: 0px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.quiz_wrapper .options ul li{
	display: inline-block;
	background-color:#673ab7;
	width: 47%;
	padding: 15px;
	border-radius:8px;
	margin-top: 25px;
	font-size: 15px;
	color:#ffffff;
	box-shadow: 2px 3px 1px grey;
	cursor: pointer;
	outline: none;
	text-align: center;
}
.quiz_wrapper .options ul li:active{
	box-shadow: 0px 3px 0px transparent;	

}
.quiz_wrapper .options ul li.correct{
	background-color: #dc2a1d;
	box-shadow: 2px 3px 0px grey;
}

.quiz_wrapper .options ul li.wrong{
	background-color: #41d247;
	box-shadow: 2px 3px 1px grey;
}

.quiz_wrapper .score{
	float: left;
	width: 100%;
	padding:25px 0px;
}

.quiz_wrapper .score .next{
	width: 40%;
	float: left;
}
.quiz_wrapper .score .next button{
	padding: 10px 50px;
	color:white;
	background-color:#3f9dc8;
	border:none;
	border-radius:8px;
	font-size: 15px;
	cursor: pointer;
	box-shadow: 0px 3px 1px grey;
	outline: none;
}
.quiz_wrapper .score .next button:active{
box-shadow: 0px 3px 0px transparent;	
}

.quiz_wrapper .score .score-card{
	width: 60%;
	float: left;
}
.quiz_wrapper .score .score-card{
	font-size: 20px;
	color:black;
	line-height: 50px;
	text-transform: uppercase;
}
.quiz_wrapper .score .score-card span{
	background-color: #4caf50;
	padding: 5px 20px;
	border-radius: 8px;
	color:#ffffff;

}











